.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #384351;
  height: 80px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 100%;
  background-color: #20ade4;
}

.login-logout-button {
  cursor: pointer;
  margin: 0 30px;
}

.navbar {
  display: flex;
  width: 280px;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
}
