.sidebar-container {
  width: 280px;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #7a8692;
  height: 60px;
  padding-left: 25px;
}

.menu-logo {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
