.container {
  height: 100%;
}

.main-container {
  display: flex;
  height: calc(100% - 80px);
}

.sidebar-container {
  height: 100%;
  border-right: 1.5px solid #324254;
}

.content-container {
  width: 100%;
  border-left: 1.5px solid #324254;
}
