.container {
  height: 100vh;
}

.main-container {
  display: flex;
  height: calc(100vh - 80px);
  background-color: #212e3e;
}

.sidebar-container {
  flex: 1;
  border-right: 1.5px solid #324254;
}

.content-container {
  flex: 3;
  border-left: 1.5px solid #324254;
}
