* {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  text-decoration: none;
  color: #e6e5ea;
  list-style: none;
}

body {
  background-color: #212e3e;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
